/*
TODO:
- remove padding from text in radioGroupButton of mapping UI
- prevent textoverflow in nav-pills
- sidebar wider when display size is small
- vegxBuilder sidebar is wider
...
*/

/* set text color in handsontable to black*/
body {
   font-size: 16px;
}

.form-control {
  height: 34px;
}

.frame {
  border-style: solid;
  border-radius: 0.5em;
  border-width: 0.5px;
  border-color: #666666;
  padding: 10px;
  margin-bottom: 6px;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  vertical-align: middle;
}

.form-inline .selectize-control{
  margin: 0px 10px 0px 10px;
}

.form-inline .label{
  margin: 0px;
}

.table {
  margin: 0px;
}

.htCore {
  color:black!important;
}

.file-grid {
 min-height:160px!important;
}

.nav-stacked li a {
  text-align:left !important; 
  vertical-align:middle!important;
  border-width:0px !important; 
  padding-top:6px!important; 
  padding-bottom:6px!important;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}

.nav-stacked > li > a:hover, .nav-stacked > li > a:focus {
  filter: brightness(1.5);
}

.icon-padded-right {
  padding-right:3px;
}

.icon-info {
  padding-left:3px;
  vertical-align: super;
}

.annotation {
  display:inline-block;
  font-style:italic;
  margin-bottom: 10px;
}

.no-margin {
  margin-bottom: 0px;
}

.btn-focus {
  border-width: 2px;
  border-color: white!important;
}

.btn-file {
  height:34px!important;
  line-height: 0.7;
}

.btn .btn-dropdown-input {
  margin-left: 6px!important;
}

.btn .btn-default .btn-sidebar {
  width: 100%!important;
  margin: 10px!important;
  padding: 25px!important;
}

tbody > ul {
   margin-bottom: 0px!important;
}
