/*
TODO:
- remove padding from text in radioGroupButton of mapping UI
- prevent textoverflow in nav-pills
- sidebar wider when display size is small
...
*/

/* set text color in handsontable to black*/
.htCore {
  color:black;
}

.btn-default {
  background-color:#777;
  white-space:normal;
}

.btn-sidebar {
  text-align:left !important; 
  border-width:0px !important; 
  margin-top:1px !important;
  padding-top:6px; 
  padding-bottom:6px;
  overflow:hidden;
  white-space:nowrap;
  display:inline-block;
  text-overflow:ellipsis;
}

.btn-success {
  background-color:#2e752e;
  border-color:#2e752e;
}

.btn-active {
  font-weight:900 !important;
  border-width: 0.5px !important;
  border-color: #fff !important;
  text-align:center !important;
}

.icon-padded {
  padding-right:3px;
}

.annotation {
  display:inline-block;
  vertical-align:middle!important;
  font-style:italic;
  margin-bottom: 10px;
}

.btn-dropdown-input {
  margin-left: 6px!important;
}