/*
TODO:
- remove padding from text in radioGroupButton of mapping UI
- prevent textoverflow in nav-pills
- sidebar wider when display size is small
- vegxBuilder sidebar is wider
...
*/

/* set text color in handsontable to black*/
.htCore {
  color:black!important;
}

.nav-stacked > li > a {
  text-align:left !important; 
  vertical-align:middle!important;
  border-width:0px !important; 
  padding-top:6px!important; 
  padding-bottom:6px!important;
  overflow:hidden;
  white-space:nowrap;
  display:inline-block;
  text-overflow:ellipsis;
}

.nav-stacked > li > a:hover, .nav-stacked > li > a:focus {
  filter: brightness(1.5);
}

.icon-padded {
  padding-right:3px;
}

.annotation {
  display:inline-block;
  vertical-align:middle!important;
  font-style:italic;
  margin-bottom: 10px;
}

.btn .btn-dropdown-input {
  margin-left: 6px!important;
}

.btn .btn-default .btn-sidebar {
  width: 100%!important;
  margin: 10px!important;
  padding: 25px!important;
}
